/*


.shiny-progress .bar {
  opacity: 1;
  transition-duration:500ms;
}




div.busy { 
  position:absolute;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -50px;
  display:none;
  background: rgba(230, 230, 230, .8);
  text-align: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 40px;
  padding-right: 30px;
  border-radius: 5px;
}

*/

.shiny-progress .progress-text {

  right: 100px;
  height: 20px;
  width: 500px;
  background-color:transparent;
  margin: 0px;
  padding: 2px 3px;
  opacity: 0.9;
}


.shiny-progress .progress-text .progress-message {
  padding: 0px 3px;
  font-weight: bold;
  color:blue;
  font-size: 150%;
 box-shadow:16px 16px 16px gray;
}
.shiny-progress .progress-text .progress-detail {
  padding: 0px 3px;
  font-size: 100%;
  color:blue;
  box-shadow:16px 16px 16px gray;
}

.shiny-progress .progress {
  position: absolute;
  width: 70%;
  top: 0px;
  left:500px;
  height: 15px;
  margin: 0px;
}

/*
.progress-striped .bar {
     background-color: #149bdf;
      background-color: blue;
      background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.6)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.6)), color-stop(0.75, rgba(255, 255, 255, 0.6)), color-stop(0.75, transparent), to(transparent));
      background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent);
      background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent);
      background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent);
      background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent);
      -webkit-background-size: 40px 40px;
         -moz-background-size: 40px 40px;
           -o-background-size: 40px 40px;
              background-size: 40px 40px;
    }

*/

#pot
{
    padding:5px;
   border:4px solid blue;
   background-color:white;
   box-shadow:6px 6px 10px gray;
}

  
body
{
  background-color:#F0E8E0;
}

.well 
{
  background-color:#FFFFCC;
}

label 
{
  font-size:15px;
  display:inline-block;
  height:10px;
  color:blue;
  text-align:center;
}

textarea {
width: 95%;
padding: 0;
border: 1px solid #ccc;
}


#textev{
width: 500px;
padding: 10;
border: 1px solid #ccc;
}

#pan1
{
  width :350px;
}

#pan2
{
  width :800px;
}

#legicon
{
text-align:left;  
color:red;
font-size : 15px;
}

#parselh,#parselm,#parselb
{ 
position:fixed;
top:300px; 
font-size:15px;
width:100px; 
height:60px;
padding: .3em;
font-weight : bold;
display:inline-block; 
color:white;
background-color: blue;
text-align:center;
}

#pos,#pos_m,#pos_b
{
  position:fixed;
  top:400px;
  font-size:12px;
font-weight : bold;
color:green;
width:100px;
height:30px;
background-color: lightgray;
box-shadow:6px 6px 6px black;
}


#rec,#rec_m,#rec_b
{ 
  position:fixed;
  top:450px; 
font-size:12px;
font-weight : bold;
color:green;
width:100px;
height:30px;
background-color: lightgray;
box-shadow:6px 6px 6px black;
}

#del,#del_m,#del_b
{
  position:fixed;
  top:500px;
  font-size:12px;
font-weight : bold;
color:green;
width:100px;
height:30px;
background-color: lightgrey;
box-shadow:6px 6px 6px black;
}



#png,#png_m,#png_b
{
  position:fixed;
  top:550px;
  font-size:12px;
font-weight : bold;
color:green;
width:100px;
height:30px;
background-color: lightgray;
box-shadow:6px 6px 6px black;
}



#jarold
{

font-size:15px;
font-weight : bold;
color:green;
width:350px;
height:30px;
background-color: lightgray;
box-shadow:6px 6px 6px black;
}


#pos:hover,#pos_m:hover,#pos_b:hover,
#rec:hover, #rec_m:hover,#rec_b:hover,
#del:hover,#del_m:hover,#del_b:hover,
#gocolh:hover,#gocolm:hover,#gocolb:hover,
#png:hover,#png_m:hover,#png_b:hover,
#grid:hover,#grid_m:hover,#grid_b:hover,
#ungrid:hover,#ungrid_m:hover,#ungrid_b:hover,
#num:hover,#num_m:hover,#num_b:hover,
#panum:hover,#panum_m:hover,#panum_b:hover
{
background-color: blue; 
color:white;
box-shadow:20px 20px 20px black 
  
} 

#actu
{
  position:fixed;
  top:250px;
  font-size:12px;
font-weight : bold;
color:green;
width:100px;
height:100px;
background-color: lightgrey;
box-shadow:6px 6px 6px black;
}

h6
{
font-size:15px;  
}


h2
{
font-size:25px;
text-align:center; 
text-shadow: 5px 5px 10px gray; 
color:blue;

}



h3
{
font-size:18px;
text-align:center; 
text-shadow: 2px 2px 4px black; 
color:yellow;

}

h4
{
text-align:left; 
text-shadow: 1px 1px 2px yellow; 
text-align:left;
}

em
{
  
text-align:center; 
color:blue;
font-size : 13px;
font-style : italic;
}






#leges
{ 
 
  font-size:10px;
display:inline-block;

  color:green;
  text-align:left;
  
}


#leg2,#leg1
{ 
font-size:20px;
width:180px;
height:40px;
font-weight : bold;
display:inline-block; 
color:blue;
background-color: #c4dcf3;
box-shadow:6px 6px 6px green;
text-align:center;
}


 #com1,#com2
 {
   width : 95%;
 }
 
 
 
#rang1,#rang2

 { 
   font-size:15px; 
   font-weight : bold;
   width:50px;
   display:inline-block;
   background-color: #c4dcf3;
   color:blue;
   } 
/*   
.datepicker{
  width:85%; 
}  
*/   
 #sem1,#sem2,#plant1,#plant2,#rec1,#rec2,#finrec1,#finrec2 
 { 
   font-size:12px; 
   width:45%;
   height:30px;
   color:blue;
   display:inline-block; 
   background-color: #c4dcf3;
   text-align:left;
   
   }

#leg1:hover,#leg2:hover,#rang1:hover,#rang2:hover
 { 
   color:white;
   background-color: blue;
  
   
   }  

.tip {
  position: relative;
  text-decoration: none;
}

.tip:hover:before {
  display: block;
  position: absolute; 
  padding: .5em;
  content: attr(title);
  min-width: 120px;
  text-align: center;
  width: auto;
  height: auto;
  white-space: nowrap;
  top: -5px;
  left:2em;
  background: rgba(0,0,128,.8);
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;    
  color: #fff;
  font-size: .86em;
}

img.tip:hover:after {
  position: absolute;
  display: block;
  content: "autre info";  
  border-color: rgba(0,0,128,.1) transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  top: 10px;
  left:10em;
}

#colh,#colm,#colb,#colparam
{
-webkit-appearance: none; 
border: none;
width: 60px; 
height: 30px;  
}

#colh:hover,#colm:hover,#colb:hover,#colparam:hover
{
width: 75px; 
height: 45px;
box-shadow:10px 10px 15px blue;
}

#bagocol1:hover,#bagolig1:hover,#odroicol1:hover,#odroilig1:hover,#trix1:hover,#triy1:hover
{
background-color: blue; 
color:white;
}
 #alox1,#aloy1,#albax1,#albay1,#trix1,#triy1
 { 
   font-size:13px; 
   width:50px;
   color:red;
   font-weight : bold;
   display:inline-block;
   background-color: lightgreen;
   } 

